<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3" th:fragment="navbar">

<div class="container">

<a class="navbar-brand fw-bold fs-4" href="/dashboard">JobPortal</a>

<button class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">

<span class="navbar-toggler-icon"></span>

</button>

<div class="collapse navbar-collapse" id="navbarNav">

<ul class="navbar-nav ms-auto">

<!-- DASHBOARD -->
<li class="nav-item">
<a class="nav-link portal-nav-link" href="/dashboard">Dashboard</a>
</li>

<!-- VIEW JOBS -->
<li class="nav-item">
<a class="nav-link portal-nav-link" href="/viewJobs">View Jobs</a>
</li>

<!-- JOB SEEKER MENU -->
<li class="nav-item"
    th:if="${currentUser != null and currentUser.role == 'JOBSEEKER'}">
<a class="nav-link portal-nav-link" href="/myApplications">My Applications</a>
</li>

<li class="nav-item"
    th:if="${currentUser != null and currentUser.role == 'JOBSEEKER'}">
<a class="nav-link portal-nav-link" href="/savedJobs">Saved Jobs</a>
</li>

<!-- RECRUITER MENU -->
<li class="nav-item"
    th:if="${currentUser != null and currentUser.role == 'RECRUITER'}">
<a class="nav-link portal-nav-link" href="/addJob">Add Job</a>
</li>

<li class="nav-item"
    th:if="${currentUser != null and currentUser.role == 'RECRUITER'}">
<a class="nav-link portal-nav-link" href="/myJobs">My Jobs</a>
</li>

<!-- PROFILE -->
<li class="nav-item">
<a class="nav-link portal-nav-link" href="/profile">Profile</a>
</li>

<!-- USERNAME -->
<li class="nav-item">
<span class="navbar-text text-white ms-lg-3 mt-1">
Welcome <span th:text="${currentUser != null ? currentUser.username : 'User'}"></span>
</span>
</li>

<!-- LOGOUT -->
<li class="nav-item">
<a class="nav-link text-danger portal-nav-link" href="/logout">Logout</a>
</li>

</ul>

</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</nav>